html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

div{
    width: 100%;
    height: 100%;
    background: beige;
}

.dot {
    height: 8px; width: 8px; border-radius: 4px;
    background: blue; position: absolute;
    }